
body {
    margin: 0;
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
    background-color: #fff;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
  
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) { ... }

@media (min-width: 768px) {
.justify-content-md-center {
    margin-top: 4%;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}


.navbar {
  
    background-color: #000; /* Change the background color to a dark color */
};

.navbar-nav .nav-link {
    color: #F23580; /* Change the text color to a contrasting color */
}

.navbar-toggler-icon {
    background-color: #F23580; /* Change the color of the hamburger icon */
}


.h3, h3 {
   color: #00BFF0; text-align: left;
}
 img.card-img-top{
    border-radius: 10px;
 
}
.card { border-radius: 25px;
    color: #FFF;
 
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    background-color: transparent;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 25px;
    /* background-color: #fff; */
    margin-right: 4%;
    Margin-left: 4%;
    border-radius: .25rem;
    align-content: center;
 
        transition: transform 0.3s ease; /* Add a smooth transition effect */
      }

      .col-md-6 {
        background-color: #000;
        color: #FFF;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
       
        margin-top: 5%;
        border-radius: 25px;
         
       
    }
    .col-md-6.hovered {
        transform: scale(1.05);

    }
.card-body{
    font-size: 1.2rem;
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 5;
    
  
  
}
.card-title {
    margin-top:20px ;
}
 .card.text-center {
   
        /* box-shadow: -1px 1px 14px 0px #00BFF0; */
        border-radius: 25px;
    }
 


.btn-primary {
    color: #fff;
    background-color: #F23580;
    /* border-color: #007bff; */
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 5%;
  }
  
  .button {
  
    background-color: #f23580;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: inline-flex;
    padding: 15.5px 24px 15.5px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .button:hover {
    background-color:#00bff0;
  }
.image-container::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

.image-container::-webkit-scrollbar-thumb {
    background-color: #F23580; /* Set the color of the scrollbar thumb */
    border-radius: 5px; /* Add rounded corners to the scrollbar thumb */
}

/* Customize the scrollbar for Firefox and other browsers that support scrollbar-width */
.image-container {
    scrollbar-width: 20px; /* Set the width of the scrollbar */
    scrollbar-color: transparent;
     /* Set the color of the scrollbar thumb and track */
}

.image-container {
    background: transparent;
    overflow-x: auto;
    white-space: nowrap;
}


.image-container::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

.image-container::-webkit-scrollbar-thumb {
    background-color: #F23580; /* Set the color of the thumb (the draggable part of the scrollbar) */
    border-radius: 5px; /* Set the border radius of the thumb */
}

.image-container::-webkit-scrollbar-track {
    background-color: #000; /* Set the color of the track (the non-draggable part of the scrollbar) */
}

.card-body{
    color: white;
    margin-top: 0;
   
    margin-bottom: 2rem;
    margin-left: 10%;
}






@media screen and (min-width: 1024px) {
    #leftsidebar {width: 200px; float: left;}
    #main {;}
    .card-img, .card-img-bottom, .card-img-top {
        -ms-flex-negative: 0;
        flex-shrink: 0;
      
    }
    .jumbotron {
        height: 417px;
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #000;
        border-radius: .3rem;
        margin-top: 3%;
    }
    .navbar-nav {
      
        font-size: 1.2rem;
    }
        .image-container {
            overflow-x: auto;
            white-space: nowrap;
         
            margin: 0 auto; /* Center the container horizontally */
        }
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
        .column-content {
            width: 100%;}
            
            
        
            .column-content img {
                border-radius: 25px;
                max-width: 363px;
                height: auto;
              
            }
        
        /* Additional styles for titles and paragraphs */
        .title {
            font-size: 24px; /* Adjust font size for titles */
            margin-bottom: 10px; /* Add space between title and content */
        }
        
        /* Styles for paragraphs (text content) */
        .column-content p {
            font-size: 16px; /* Adjust font size for paragraphs */
            line-height: 1.5; /* Set line height for readability */
            margin-bottom: 20px; /* Add space between paragraphs */
        }
        .col-md-auto {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            margin-left: 5%;
            max-width: 41%;
        }
     
       
    .p {
        margin: 2%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem ;
        color: #FFF;
      

       }
      
        
        .col-md-8 {
            -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
            max-width: 54.666667%;
            margin-left: 2%;
        }
    
    
        
        .col-md-5 {
            -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
            max-width: 36.666667%;
        }

     
        .row {
           
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-left: 4%;
                       border-radius: 25px;
            padding: 4%;
            
            
           
        }
     
        
    
    .div.col-6.col-md-4 {
        margin-left: -43%;
        margin-top: -40%;
        background-color: black;
        color: #FFF;
        text-align: center;
        border-radius: 20px;
    }
    .card-title {
        font-size: 1.75rem;
        margin-top: -2%;
        margin-left: -7%;
    }
   
    .card-text {
    color: #FFF; font-size: 
    1rem;
   
}
.card.text-center{ box-shadow: 
-1px 1px 14px 0px #00BFF0;}

.card.mb-3{
    color: white;
    width: 80%;
  
}

.row.no-gutters {
     display: -ms-flexbox;
    display: flex;
          
}
.col-md-6 {
    min-width: 90%;
    max-width: 100%;
}
  
 
  .col-6.col-md-5.col-6-md-4-order-md-1.align-items-center  {
    font-size: 1.2rem;
   
        background-color: black;
        color: white;
        text-align: center;
        font-style: normal;
        margin-top: 5%;
        margin-left: 10%;
        text-align: left;    

  }
  
    
    .column-content p {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 20px;
    }

}
  @media screen and (min-width: 1080px) {
   
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 100%;
       
        margin-right: auto;
        margin-left: auto;
    }
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 34.666667%;
        margin-right: 2%;
    }
  
.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
  }
}

body {
    background-image: url('./images/pinkrain.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional - makes the background fixed */
    /* Additional background properties can be added here */
}


.jumbotron {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
  
    text-align: center; /* Center-align text */
    display: flex; /* Use flexbox to center vertically and horizontally */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    color: white;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #000;
    border-radius: .3rem;
    margin-top: 3%;
    
   
}
.h2, h2 {
    color: #F23580;
    margin-top: 4%;
    font-size: 2rem;
    padding: 2%;
   text-align: center;
}

.col-sm-6.col-md-8 {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.2rem;
   
    
}
