@media screen and (min-width: 796px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
    .h1, h1 {
        font-size: 1.5rem;
    }
  }
@media screen and (min-width: 1024px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
    .container {
        font-size: 1rem;
        margin: 0px;
        max-width: 100%;
    }
    .h1, h1 {
        font-size: 1.7rem;
    }
  }

body {
    background-image: url('./images/pinkrain.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional - makes the background fixed */
    /* Additional background properties can be added here */
}
.jumbotron {
    text-align: center; /* Center-align text */
    display: flex; /* Use flexbox to center vertically and horizontally */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    color: white;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #000;
    border-radius: .3rem;
    margin-top: 6%;
    margin-right: 25%;
    margin-left: 25%;
}